{% extends 'base.html.twig' %}

{% block body %}
<h1>ParisRestaurant</h1>

<table>
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ parisRestaurant.id }}</td>
    </tr>
    <tr>
      <th>Category</th>
      <td>{{ parisRestaurant.category }}</td>
    </tr>
    <tr>
      <th>Adresse</th>
      <td>{{ parisRestaurant.adresse }}</td>
    </tr>
  </tbody>
</table>

<ul>
  <li>
    <a href="{{ path('school_show', { 'uai': app.request.attributes.get("uai") }) }}">Back to school</a>
  </li>
</ul>

{% endblock %}
