{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome to Student Check</h1>
    <h2>Page d'accueil</h2>
    <p><a href="http://lucasmartin.fr/StudentCheckDocumentation">Voir la documentation</a></p>

{% endblock %}