{% extends 'base.html.twig' %}

{% block body %}

    <h1>WELLCOME TO THE ADMINE</h1>
    
    <ul>
      <li><a href="{{path('admin_school', {'key':key})}}">School</a></li>
      <li><a href="{{path('admin_user', {'key':key})}}">User</a></li>
    </ul>
      
{% endblock %}