{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome to the Admin</h1>

<h2>Object</h2>

<div>{{response}}</div>

<a href="{{path('admin_schoolshow', {'key': key, 'id': app.request.get('id'), 'uai': app.request.get('uai')})}}">Back to the school</a>

{% endblock %}